@import './base.css';



h1 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 20px;
  }
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 19.2px;
  }
}

p.bold,
label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 21px;
  }
}

p {
  color: var(--color-paragraph);
}

p,
input,
button *,
.toast {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 21px;
  }
}

.checkbox__label,
.note {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-paragraph);
  @media screen and (max-width: 1024px) {
    font-size: 10px;
    line-height: 10px;
  }
}



.container {
  max-width: 1124px;
  padding: 0 40px;
  margin: auto;
  @media screen and (max-width: 768px) {
    padding: 0 75px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 320px) {
    padding: 0 20px;
  }
}

